@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NeueHelvetica';
    src: url('../fonts/HelveticaNeueLTPro-Bd/font.woff')format("woff");
    font-weight : 700
}
@font-face {
    font-family: 'NeueHelvetica';
    src: url("../fonts/HelveticaNeueLTPro-Roman/font.woff")format("woff");
    font-weight : 500
}